extends layout

block content
  h1= title

  p Click one of the links below to get started

  li  
    a(href='http://localhost:3000/api/quizzes') localhost:3000/api/quizzes
    
  li
    a(href='http://localhost:3000/api/quiz/61ffbd14a70c5ecb7b1e1462') localhost:3000/api/quiz/61ffbd14a70c5ecb7b1e1462
