extends layout

block content
  h1= title

  p Click one of the links below to get started

  li  
    a(href='http://localhost:3000/api/quizzes') localhost:3000/api/quizzes
    
  li
    a(href='http://localhost:3000/api/quiz/62278c4fa4a719f289cb3d92') localhost:3000/api/quiz/62278c4fa4a719f289cb3d92
